body {
	background-color: #f0f0f0;
}

a {
	color: #000;
	text-decoration: none;
}

input {
	outline: none;
	border-style: hidden;
	border-bottom: solid gray 1px;
	background-color: #0000;
}

input:focus {
	border-bottom: solid black 1px;
}

button {
	border: none;
	background: #0000000a;
	outline: none;
	border-bottom: solid 1px gray;
}

button:hover {
	border-bottom: solid 1px black;
	background: #00000015;
}

.App {
	margin: 0;
	position: absolute;

	top: 50%;
	left: 50%;

	width: 80%;

	transform: translate(-50%, -50%);
}

.Home .research {
	padding-bottom: 75px;
	display: flex;
	justify: center;
}

.Home .research input {
	flex: 1;
	font-size: 30px;
}

.Home .recommendations {
	display: flex;
	justify: space-between;
}

.Home .movies {
	flex:1;
	padding-left: 10px;
	padding-right: 10px;
}

.movie {
	padding-top: 12px;

	display: flex;
	flex-direction: line;
	justify: space-between;
	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: gray;

	font-size: 20px;
}

.movie:hover {
	background-color: #0000000a;
	border-bottom-color: black;
}

.movie:active {
	background-color: #00000015;
}

.movieTitle {
	flex: 10;
	text-align: left;
}

.movieNote {
	flex: 1;
	text-align: right;
}

.Home .movieApp {
	display: flex;
	flex-direction: column;
}

.movieApp .header {
	display: flex;
	flex-direction: line;
	align-items: flex-end;
	border-bottom: solid gray 1px;
}

.title {
	flex: 1;
	font-size: 40px;
	text-align: left;
}

.movieApp .date {
	font-size: 12px;
	text-align: left;
	vertical-align: bottom;
}

.movieApp .note {
	font-size: 40px;
}

.movieApp .yourNote {
	display: flex;
	margin-top: 10%;
	font-size: 20px;
}

.movieApp input {
	margin-left: 10px;
	margin-right: 10px;
	width: 40px;
	font-size: 20px;
}

.connect {
	margin: 0;
	position: absolute;

	top: 50%;
	left: 50%;

	width: 20%;
	height: 20%;

	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify: center;
}

.connect .connectText {
	font-size: 18px;
}

.connect .connectField {
	font-size: 24px;
	margin-bottom: 24px;
}

.connect .connectButton {
	font-size: 18px;
}

.inscriptionProposal {
	font-size: 12px;
	color: gray;
	background: none;
	border: none;
	width: 80px;
	outline: none;
}

.inscriptionProposal:hover {
	background: none;
	border-bottom: solid gray 1px;
}

.header {
	font-size: 12px;
}

.header a {
	margin-let: 10px;
	margin-right: 10px;
}

.header a:hover {
	border-bottom: solid 1px gray;
}

.User {

}

.User .userData {
	display : flex;
	flex-direction: line;
	justify: space-between;
	width: 60%;
	border-bottom: solid gray 1px;
	font-size: 18px;
}

.User .userField {
	flex: 1;
}

.User .userValue {
	flex: 1;
	text-align: right;
}

.User .accountData {
	margin-bottom: 50px;
}